[submodule "BackendModule"]
	path = BackendModule
	url = git@github.com:ReginePiyou/CRUDAPPBackend.git
	branch = main
[submodule "FrontendModule"]
	path = FrontendModule
	url = git@github.com:ReginePiyou/CRUDAPPFrontend.git
	branch = main
